body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 20px;
}

.form-element {
    margin-bottom: 20px; 
}

.input_name {
    font-weight: bold; 
}

.required {
    color: red; 
}

.entering, .input_info {
    width: 100%; 
    padding: 5px; 
}

input[type="radio"] {
    margin-right: 10px;
}

.choose_gender {
    display: flex;
}
