body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.container {
    width: 80%; 
    max-width: 800px; 
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left; 
}

p {
    margin: 10px 0; 
}
